# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
**/coverage

# next.js & build outputs
**/.next/
**/out/
**/build/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files (環境変数ファイルをリポジトリに入れない)
**/.env*.local
**/.env

# vercel & cloudflare pages artifacts
**/.vercel
**/.wrangler

# typescript
*.tsbuildinfo
**/next-env.d.ts

# OS metadata
.DS_Store
Thumbs.db
